@charset "UTF-8" ;

:root {
    --azul-escuro: #002c67;
    --azul: #004aad;
    --azul-claro: #5de0e6;
    --branco: white;
    --preto: rgb(51, 51, 51);
    --amarelo: yellow;
    --cinza-transparente: #a6a6a696;
    --cor-categorias: rgba(255, 255, 255, 0.719);

    /*para degrades*/

    --azul-escuro-degrade: #011939;
    --azul-claro-degrade: #0147a6;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--branco);
}

html {
    height: 100%;
    
}

body, .container {
    background: linear-gradient(to bottom, var(--azul-claro-degrade), var(--azul-escuro-degrade));
    background-attachment: fixed; /* Mantém o fundo fixo */
    height: 100%; 
    margin: 0; /* Remove margens padrão do body */
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 60px;
    color: var(--branco);
}  

.header-cadastrar-servico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
   

    & i {
        font-size:40px;
        margin-right: 50px;
    }
}

.informacoes-servico {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & input, label {
        margin-bottom: 10px;
    }

    & input {
        padding: 5px;
        border-radius: 8px;
    }

    & label {
        font-weight: 600;
        margin-top: 15px;
    }

    & textarea {
        padding: 5px;
    }

    & select {
        padding: 5px;
        border-radius: 8px;
    }

    & button {
        color: var(--branco);
        background-color: black;
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
    }

    & button:hover {
        background-color: rgb(66, 66, 66);
        
    }
}

.container p {
    text-align: justify;
    
    margin: 15px;
}



/* Tela de Carregamento */
.loading-container {
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    display: flex; /* Usamos flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 9999; /* Garante que a tela de carregamento fique acima de outros elementos */
}

.spinner {
    border: 8px solid #f3f3f3; /* Cor da borda de fundo */
    border-top: 8px solid #3498db; /* Cor da borda de carregamento */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animação infinita de rotação */
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p {
    font-size: 18px;
    color: #fff; /* Texto branco para melhor visibilidade sobre o fundo escuro */
}