@charset "UTF-8" ;

:root {
    --azul-escuro: #002c67;
    --azul: #004aad;
    --azul-claro: #5de0e6;
    --branco: white;
    --preto: rgb(51, 51, 51);
    --amarelo: yellow;
    --cinza-transparente: #a6a6a696;
    --cor-categorias: rgba(255, 255, 255, 0.719);

    /*para degrades*/

    --azul-escuro-degrade: #011939;
    --azul-claro-degrade: #0147a6;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--branco);
}

a {
    text-decoration: none;
    color: var(--branco);
}

html {
    height: 100%;
    
}

body, .container {
    background: linear-gradient(to bottom, var(--azul-claro-degrade), var(--azul-escuro-degrade));
    background-attachment: fixed; /* Mantém o fundo fixo */
    height: 100%; 
    margin: 0; /* Remove margens padrão do body */
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50%;
    
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}

.pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    width: 100%;
    padding: 0px 4px;
    border-radius: 10px;


    & i {
        color: var(--preto);
        margin-left: 5px;
    }

    & input {
        width: 100%;
        border: none;
        outline-color: var(--cinza-transparente);
        color: black;
        padding: 8px 0px;
        margin: 5px;
    }
}

.container-patrocinio {
    padding: 10px;
    margin: auto;
    text-align: center;
    
}

.titulo-patrocinados {
    margin-bottom: 5px;
}

.patrocinio {
    position: relative; /* Para controle do posicionamento */
    overflow: hidden; /* Oculta as imagens que estão fora do contêiner */
    width: 100%; /* Define a largura do carrossel */
    height: 172px;
}

.patrocinio img {
    width: 100%;
    display: none; /* Esconde todas as imagens inicialmente */
}

.patrocinio img.active {
    display: block; /* Exibe apenas a imagem ativa */
}

.container-categorias {
    text-align: center;
    
    
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: auto;

}

.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 8px;
    background-color: var(--cinza-transparente);
    width: 75px;
    height: 50px;
}

.categoria:hover {
    background-color: rgb(101, 101, 101);
    border: 1px solid var(--branco);
}

.mais-avaliados {
    text-align: center;
}


.titulo-avaliados {
    padding-bottom: 5px;
}

.avaliados {
    border: 1px solid var(--branco);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 85%;
    height: 130px;
    overflow: auto;
}

.avaliado {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border: 1px solid var(--branco);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        margin-right: 5px;
        border-radius: 50px;
        width: 25px;
        height: 25px;
    }
}

.avaliacao {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
        margin-right: 5px;
    }
}

.barra-de-navegacao {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    position: fixed; /* Fixa a barra na tela */
    bottom: 0; /* Posiciona no fundo da tela */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    
}

.barra-de-navegacao a > i {
    display: flex;
    color: var(--preto);
    font-size: 30px;
    padding: 5px 10px;
    align-items: center;
}

.barra-de-navegacao a[href="#"] {
    background-color: rgba(200, 200, 200, 0.5); /* Fundo cinza quando o href é # */
    border-radius: 10px;
}