@charset "UTF-8" ;

:root {
    --azul-escuro: #002c67;
    --azul: #004aad;
    --azul-claro: #5de0e6;
    --branco: white;
    --preto: rgb(51, 51, 51);
    --amarelo: yellow;
    --cinza-transparente: #a6a6a696;
    --cor-categorias: rgba(255, 255, 255, 0.719);

    /*para degrades*/

    --azul-escuro-degrade: #011939;
    --azul-claro-degrade: #0147a6;
}